{% include 'management/base.html' %}
{% block base_block %}
    <div class="jum">
        <h2 style="color: white;padding: 20px;">Please Login</h2>
        <h3 style="color: white;padding: 20px;">(Must be Teacher ,please check administrator)</h3>
        
        {% if form.errors %}
            <p>Your username and password are incorrect</p>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}" style="color:white;padding: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class = "btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
{% endblock base_block %}
